.container {
    display: flex;
    height: 100vh; /* Full-height layout */
}

.left-pane, .right-pane {
    /*flex: 1;*/
    padding: 20px;
    box-sizing: border-box;
}

.left-pane {
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/*
.right-pane {
    background-color: #344869;
}
*/
/* Style for left pane buttons */
.left-button {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Style for the right pane button */
.right-button {
    background-color: #565555;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Hover effect with rounded corners */
.left-button:hover {
    background-color: #b3b3b3; 
    border-radius: 8px; 
    transition: background-color 0.2s ease, border-radius 0.2s ease;
  }
  
  /* Active (clicked) state with same rounded look */
  .left-button.active {
    background-color: #b3b3b3; 
    border-radius: 8px; 
  }